meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0,  minimum-scale=1.0, maximum-scale=1.0")
meta( http-equiv="x-ua-compatible" content="ie=edge")
link(rel="icon" type="image/x-icon" href="./src/img/favicon.png")
meta( property="og:url" content="http://lenta.generation-startup.ru/")
meta( property="og:type" content="website")
meta(property="og:image:secure_url" content="https://lenta.generation-startup.ru/src/img/og.png")
meta( property="og:title" content="Lenta Accelerator")
meta( property="og:description" content="We are looking for international startups ready to enter Russia’s dynamic retail market")
//- meta( property="og:image" content="http://lenta.generation-startup.ru/src/img/og.png")
//- meta( property="vk:image" content="http://lenta.generation-startup.ru/src/img/og.png")

title Удалёнка
meta( name="description" 
content="We are looking for international startups ready to enter Russia’s dynamic retail market")
//- link(rel="apple-touch-icon" href="./src/img/apple-icon/apple-touch-icon.png")
//- link(rel="apple-touch-icon" sizes="57x57"  href="./src/img/apple-icon/apple-touch-icon-57x57.png")
//- link(rel="apple-touch-icon" sizes="72x72"  href="./src/img/apple-icon/apple-touch-icon-72x72.png")
//- link(rel="apple-touch-icon" sizes="76x76"  href="./src/img/apple-icon/apple-touch-icon-76x76.png")
//- link(rel="apple-touch-icon" sizes="114x114"  href="./src/img/apple-icon/apple-touch-icon-114x114.png")
//- link(rel="apple-touch-icon" sizes="120x120"  href="./src/img/apple-icon/apple-touch-icon-120x120.png")
//- link(rel="apple-touch-icon" sizes="144x144"  href="./src/img/apple-icon/apple-touch-icon-144x144.png")
//- link(rel="apple-touch-icon" sizes="152x152"  href="./src/img/apple-icon/apple-touch-icon-152x152.png")
//- link(rel="apple-touch-icon" sizes="180x180"  href="./src/img/apple-icon/apple-touch-icon-180x180.png")

block libs-css
    link(rel="stylesheet" href="./css/main.css")
